<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Internet : uniquement pour la tentative d'extraction depuis une URL.
         L'application fonctionne entièrement hors ligne en mode manuel. -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:usesCleartextTraffic="false"
        android:theme="@style/Theme.PrixRef"
        tools:targetApi="34">

        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <activity
            android:name=".AccountActivity"
            android:exported="false" />

        <activity
            android:name=".AdminActivity"
            android:exported="false"
            android:parentActivityName=".AccountActivity" />

        <activity
            android:name=".ManualAnalysisActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".UrlAnalysisActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".ResultActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".HistoryActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".CompanyStatsActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".ContactActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".SocietyStatsActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".CompetitorsActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".CompetitorDetailActivity"
            android:exported="false"
            android:parentActivityName=".CompetitorsActivity" />

        <activity
            android:name=".TopCompetitorsActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".SimulationActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".GlobalStatsActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".GlobalCompanyActivity"
            android:exported="false"
            android:parentActivityName=".GlobalStatsActivity" />

        <!-- Partage des PDF / CSV générés via WhatsApp, Gmail, etc. -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
</manifest>
